/*디자인 수정요청*/
.panel-list1{background:#514ed4;color:#fff}
.panel-list2{background:#3580e9;color:#fff}
.panel-list3{background:#56a3ff;color:#fff}
.panel-list4{background:#9b64df;color:#fff}
.panel-list5{background:#7343c6;color:#fff}
.panel-list6{background:#5a2cb8;color:#fff}